<html>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <body ng-app="">
    <br>
    <input class="w3-input w3-btn" placeholder="search" [(ngModel)]="keyword" 
      (keyup)="searchAchat(keyword)" type="search">
    <button class="w3-btn w3-border " (click)="addAchat()">Ajouter un achat</button>
    <br>
    <div class="w3-container">
      <table class="w3-table w3-bordered w3-striped">
        <tr>
          <th>Date Entrée</th>
          <th>marque</th>
          <th>quantite</th>
          <th>réf Article</th>
          <th>stock</th>
        </tr>
        <tr *ngFor="let achat of achats">
          <td>{{ achat.dateEntree }}</td>
          <td>{{ achat.marque }}</td>
          <td>{{ achat.quantite }}</td>
          <td>{{ achat.refArticle }}</td>
          <td>{{ achat.stock }}</td>
          <td>
            <button class="w3-btn" (click)="editAchat(achat)">&#9998;</button>
            <button class="w3-btn" (click)="deleteAchat(achat)">&#x274C;</button>
          </td>
        </tr>
      </table>
      <form [hidden]=!createOrEdit>
        <h3 [hidden]="edit">Créer un achat:</h3>
        <h3 [hidden] ="!edit">Modifier un achat:</h3>
         <label>Date d'Entrée:</label>
         <input class="w3-input w3-border"   [(ngModel)]="achat.DateEntree" name="DateEntree">
         <br>
        <button mat-raised-button (click)="picker.open()">Open</button>   
        <br>
          <label>Marque:</label>
          <input class="w3-input w3-border" [(ngModel)]="achat.marque" type="text" name="marque">
        <br>
          <label>Quantité:</label>
          <input class="w3-input w3-border" [(ngModel)]="achat.quantite" type="number" name="quantite">
        <br>
          <label>Réf Article: </label>
          <input class="w3-input w3-border" [(ngModel)]="achat.refArticle" type="number" name="refArticle">
        <br>
        <br>
        <label>Stock: </label>
        <input class="w3-input w3-border" [(ngModel)]="achat.stock" type="number" name="stock">
      <br>
        <button class="w3-btn w3-green w3-ripple" (click)="enregistrerAchat(achat)" >&#10004;Enregistrer</button>
        <button class="w3-btn w3-pink w3-ripple" (click)="annuler()">Annuler</button>
      </form>
    </div>
  </body>
</html>

